<a href="https://colab.research.google.com/github/phanimusunuri1234/UNP_Assignment/blob/main/Copy_of_a1_demo_pandas_and_uci_adult_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <center> Assignment #1 (demo)
## <center>  Exploratory data analysis with Pandas

**In this task you should use Pandas to answer a few questions about the [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) dataset. (You don't have to download the data â€“ it's already here). **

Unique values of all features (for more information, please see the links above):
- `age`: continuous.
- `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- `fnlwgt`: continuous.
- `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- `education-num`: continuous.
- `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- `sex`: Female, Male.
- `capital-gain`: continuous.
- `capital-loss`: continuous.
- `hours-per-week`: continuous.
- `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- `salary`: >50K,<=50K

In [1]:
import pandas as pd

In [9]:


data = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data" ,
                   names=["age","workclass","fnlwgt","education","education-num","marital-status","occupation","reLtoinship","race","sex","capaital-gain","capital-loss",
  "hours-per-week","native-country","salary"])
data.head(15)

    age          workclass  fnlwgt  ... hours-per-week  native-country  salary
0    39          State-gov   77516  ...             40   United-States   <=50K
1    50   Self-emp-not-inc   83311  ...             13   United-States   <=50K
2    38            Private  215646  ...             40   United-States   <=50K
3    53            Private  234721  ...             40   United-States   <=50K
4    28            Private  338409  ...             40            Cuba   <=50K
5    37            Private  284582  ...             40   United-States   <=50K
6    49            Private  160187  ...             16         Jamaica   <=50K
7    52   Self-emp-not-inc  209642  ...             45   United-States    >50K
8    31            Private   45781  ...             50   United-States    >50K
9    42            Private  159449  ...             40   United-States    >50K
10   37            Private  280464  ...             80   United-States    >50K
11   30          State-gov  141297  ...             40           India    >50K
12   23            Private  122272  ...             30   United-States   <=50K
13   32            Private  205019  ...             50   United-States   <=50K
14   40            Private  121772  ...             40               ?    >50K

[15 rows x 15 columns]

**1. How many men and women (*sex* feature) are represented in this dataset?**

In [ ]:
# You code here

In [10]:
data['sex'].value_counts()

 Male      21790
 Female    10771
Name: sex, dtype: int64

**2. What is the average age (*age* feature) of women?**

In [11]:
# You code here
data.loc[data['sex'] ==' Female' ,'age'].mean()

36.85823043357163

**3. What is the percentage of German citizens (*native-country* feature)?**

In [13]:
# You code here
data[data['native-country']=='Germany'] / data['native-country'].sum()

Empty DataFrame
Columns: [age, workclass, fnlwgt, education, education-num, marital-status, occupation, reLtoinship, race, sex, capaital-gain, capital-loss, hours-per-week, native-country, salary]
Index: []

**4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (*salary* feature) and those who earn less than 50K per year? **

In [14]:
# You code here
data.loc[data['salary'] == ' >50K','age'].mean()

44.24984058155847

In [15]:


data.loc[data['salary'] == ' <=50K','age'].mean()

36.78373786407767

In [16]:


data.loc[data['salary']==  ' >50K','age'].std()

10.51902771985177

In [17]:


data.loc[data['salary'] == ' <=50K','age'].std()

14.020088490824813

**6. Is it true that people who earn more than 50K have at least high school education? (*education â€“ Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* or *Doctorate* feature)**

In [18]:
# You code here
data.loc[data['salary'] == ' >50K', 'education'].unique()

array([' HS-grad', ' Masters', ' Bachelors', ' Some-college',
       ' Assoc-voc', ' Doctorate', ' Prof-school', ' Assoc-acdm',
       ' 7th-8th', ' 12th', ' 10th', ' 11th', ' 9th', ' 5th-6th',
       ' 1st-4th'], dtype=object)

**7. Display age statistics for each race (*race* feature) and each gender (*sex* feature). Use *groupby()* and *describe()*. Find the maximum age of men of *Amer-Indian-Eskimo* race.**

In [19]:
# You code here
data.groupby(['race','sex'])['age'].describe()

                               count       mean        std  ...   50%    75%   max
race                sex                                     ...
 Amer-Indian-Eskimo  Female    119.0  37.117647  13.114991  ...  36.0  46.00  80.0
                     Male      192.0  37.208333  12.049563  ...  35.0  45.00  82.0
 Asian-Pac-Islander  Female    346.0  35.089595  12.300845  ...  33.0  43.75  75.0
                     Male      693.0  39.073593  12.883944  ...  37.0  46.00  90.0
 Black               Female   1555.0  37.854019  12.637197  ...  37.0  46.00  90.0
                     Male     1569.0  37.682600  12.882612  ...  36.0  46.00  90.0
 Other               Female    109.0  31.678899  11.631599  ...  29.0  39.00  74.0
                     Male      162.0  34.654321  11.355531  ...  32.0  42.00  77.0
 White               Female   8642.0  36.811618  14.329093  ...  35.0  46.00  90.0
                     Male    19174.0  39.652498  13.436029  ...  38.0  49.00  90.0

[10 rows x 8 columns]

**8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (*marital-status* feature)? Consider as married those who have a *marital-status* starting with *Married* (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.**

In [20]:
# You code here
data.loc[(data['sex'] == ' Male') &
     (data['marital-status'].isin([ " Never-married", 
                                   " Separated", 
                                    " Divorced",
                                   " Widowed"])), 'salary'].value_counts()

 <=50K    7552
 >50K      697
Name: salary, dtype: int64

**9. What is the maximum number of hours a person works per week (*hours-per-week* feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?**

In [21]:
# You code here
max_load = data['hours-per-week'].max()
print("Max time - {0} hours./week.".format(max_load))

num_workaholics = data[data['hours-per-week'] == max_load].shape[0]
print("Total number of such hard workers {0}".format(num_workaholics))

rich_share = float(data[(data['hours-per-week'] == max_load)
                 & (data['salary'] == '>50K')].shape[0]) / num_workaholics
print("Percentage of rich among them {0}%".format(int(100 * rich_share)))

Max time - 99 hours./week.
Total number of such hard workers 85
Percentage of rich among them 0%

**10. Count the average time of work (*hours-per-week*) for those who earn a little and a lot (*salary*) for each country (*native-country*). What will these be for Japan?**

In [22]:
# You code here
data.groupby(['native-country','salary'])['hours-per-week'].mean()

native-country  salary
 ?               <=50K    40.164760
                 >50K     45.547945
 Cambodia        <=50K    41.416667
                 >50K     40.000000
 Canada          <=50K    37.914634
                            ...
 United-States   >50K     45.505369
 Vietnam         <=50K    37.193548
                 >50K     39.200000
 Yugoslavia      <=50K    41.600000
                 >50K     49.500000
Name: hours-per-week, Length: 82, dtype: float64